#nav-category .nav-link{
    text-align: center;
    color :rgb(255, 255, 255) !important;
    text-transform: uppercase;
    border-bottom: 3px solid #343a40 ;
    margin-bottom: 0px;
    cursor: pointer;
  
}

#nav-category .open-link{
  
    text-align: center ;
    color :rgb(255, 255, 255);
    text-transform: uppercase ;
    border-bottom: 3px solid  rgb(165, 42, 42) ;
    cursor: pointer;
    padding: .5rem 1rem;
    display: block;
    text-decoration: none;
   
}

.nav-link:hover{
 
   border-bottom: 3px solid  rgb(165, 42, 42) !important;
   text-decoration: none !important;  
}

.navbar{
    padding: 0px !important;
}

.navbar-togler-icon{
    color: azure !important;
}