#description{
    height : 70px;
}

.col-md-4{
    margin-top: 5px; 
}

.video-react-poster{
    height: 220px !important;
  
} 
 .card-body .video-react{
     height: 220px !important; ;
    padding-top: 56.8px !important;
 }

